

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    
    <!-- Leaflet -->
    <link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <!-- Static CSS -->
    <link rel="stylesheet" href="{% static 'binnetapp/style.css' %}">

    <script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    

</head>
<body>
    {% include "binnetapp/navbar.html" %}

    <p>Hier ist die Hauptwebsite für Binnet!</p>

    {% block hauptinhalt %}
    {% endblock %}

</body>
</html>