
{% extends "binnetapp/base.html" %}

{% block hauptinhalt %}
<h1>Index</h1>

<form action="" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="Submit">
</form>

<div id = "map" style = "width: 900px; height: 580px"></div>

<script>
    // Creating map options
    var mapOptions = {
        center: [48.060863614253165, 11.670241807559309], // Set center of Map to "Wolf-Ferrari-Haus"
        zoom: 14,
        minZoom: 14,
    }

    // Creating a map object
    var map = new L.map('map', mapOptions);

    // Creating a Layer object
    var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
    
    // Adding layer to the map
    map.addLayer(layer);

    L.marker([48.060863614253165, 11.670241807559309]).addTo(map);
</script>


{% endblock %}